<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/stylesheets/navbar.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/getByGenre.css">

    <title>Get Top Movies By Genre</title>
</head>

<body>
  <main>
    <div id="upperContainer">
      <div class="dropdown">
        <button class="dropbtn">Genres</button>
        <div class="dropdown-content">
          <li> Action </li>
          <li> Adventure </li>
          <li> Animation </li>
          <li> Biography </li>
          <li> Comedy </li>
          <li> Crime </li>
          <li> Documentary </li>
          <li> Drama </li>
          <li> Family </li>
          <li> Fantasy </li>
          <li> Film-Noir </li>
          <li> History </li>
          <li> Horror </li>
          <li> Music </li>
          <li> Musical </li>
          <li> Mystery </li>
          <li> Romance </li>
          <li> Sci-Fi </li>
          <li> Sport </li>
          <li> Thriller </li>
          <li> War </li>
          <li> Western </li>
        </div>
      </div>
    </div>
  </main>

  <footer>
  </footer>

</body>
</html>
