<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- example of how to link css files to modify html -->
        <!-- I generally like to have a css page for different attributes and include them on an as-need basis -->
        <link rel="stylesheet" href="../static/stylesheets/navbar.css">

        <title>Movie Finder</title>
    </head>

    <!-- within body we will have all of our divs -->
    <body> 
        <header>

        </header>

        <main>

        </main>
        <!-- can decide whether we want this footer div or not.. I think it has some default stuff included within it -->
        <footer>

        </footer>
    </body>
</html>